{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "strict": [
      "error",
      "global"
    ],
    "curly": "warn"
  }
}